/phase0_baseline_inventory_20260718
/phase1_live_provisioning_verification_20260719
/phase8_live_calibration_*
/phase9_serial_canaries*
/diagnostic_failed_*phase9*
/phase9_pairwise_contract_*_preflight
**/.batch-dvc-cache/
**/worldserver.validation.conf
**/runner.log
**/validation_provisioning_apply/provision_characters.sql
/phase9_generated_history_through_rerun127_20260802.tar.zst
/phase9_scope_exclusion_20260811
/phase9_rerun213_canary4_verification
/phase9_targeted_25h_pairwise_contract
/phase9_rerun214_canary4_verification
/phase9_targeted_25h_pairwise_contract_rerun215
/phase9_rerun215_canary4_verification
/phase9_rerun216_canary2_verification
/phase9_rerun216_canary1_verification
/phase9_rerun216_canary4_verification
/phase9_rerun217_canary2_verification
/phase9_rerun217_canary3_verification
/phase9_rerun217_canary5_verification
/phase9_rerun218_canary6_verification
/phase9_rerun218_canary7_verification
/phase9_targeted_canary_completion_20260811
/phase8_native_pet_identity_smoke_20260816.json
